
body{
    align-items: center;
    justify-content: center;
    display: flex;
}

.bigCard{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}

.smallCard{
    border: 10px rgba(55, 252, 71, 0.438) solid;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 30px;
    line-height: 30px !important;
    
}

.details{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.5px !important;
}

img{
    border-radius: 50%;
    padding: 20px;
    border: solid 10px rgba(55, 252, 71, 0.438);
}

.details > p {
    font-size: 19px;
    font-style: italic;
}

h3{
    text-decoration: underline;
}